/* Varíaveis do CSS */
:root{
    --primary-color: #4285f6;
    --secondary-color: #34a853;
    --accent-color: #ea4335;
    --dark-color: #1a1f36;
    --light-color: #f8fafc;
    --gray-color: #64748b;
    --borde-radius: 12px;
    --shadow: 0 10px 25px rgba(0,0,0,0.1);
    --transitio: all 0,3s ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(135deg, #660683 0%, #b36565 100%);
    color: var(--dark-color);
    line-height: 1.6rem;
    min-height: 100vh;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

header{
    background:var(--light-color);
    border-radius: var(--borde-radius);
    box-shadow: var(--shadow);
    margin-bottom: 2rem;
    overflow: hidden;
}

.profile-header{
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.profile-imagem{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--accent-color);
    box-shadow: var(--shadow);
}

.profile-info h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-info .title{
    font-size: 1.3rem;
    color: var(--gray-color);
    font-weight: 500;
    margin-bottom: 1rem;
}

.contact-info{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
}


.contact-text{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray-color);
}

.contact-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray-color);
}

.contact-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
}

/* main */
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card{
    background: var(--light-color);
    border-radius: var(--borde-radius);
    box-shadow: var(--shadow);
    padding: 1.5rem;
    transition: var(--transitio);
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.card-title{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-color);
}

.card-title i {
    color: var(--primary-color);
}

.skill-item{
    margin-bottom: 1.2rem;
}

.skill-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.skill-name{
    font-weight: 500;
}

.skill-percentage{
    color: var(--gray-color);
    font-weight: 600;
}

.skill-bar{
    height: 8px;
    background: #e2e8f0;
    border-radius: 10px;
    overflow: hidden;
}

.skill-progress{
    height: 100%;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    border-radius: 10px;
    transition: width 1.5s ease-in-out;
}

/* conteudo */
.content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section{
    background: var(--light-color);
    border-radius: var(--borde-radius);
    box-shadow: var(--shadow);
    padding: 2rem;
    transition: var(--transitio);
}

section:hover{
    transform: translateY(-3px);
}

.section-tilte{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--dark-color);
}

.section-title i {
    color: var(--primary-color);
}

.timeline-item{
    margin-bottom: 2rem;
    padding-left: 2rem;
    border-left: 4px solid var(--primary-color);
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item::before{
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--primary-color);
}

.item-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0,5rem;
    flex-wrap: wrap;
}

.item-title{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.item-title i{
    color: var(--primary-color);
}

.item-data{
    background: var(--primary-color);
    color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 500;
}

.item-description{
    color: var(--gray-color);
    line-height: 1.7;
    text-align: justify;
}

/* FOOTER */

footer{
    background: var(--dark-color);
    color: var(--light-color);
    gap: 1.5rem;
    padding: 2rem 0;
    margin-top: 3rem;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1,5rem;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: var(--transitio);
    text-decoration: none;
}

.social-link:hover{
    background: var(--primary-color);
    transform: translateY(-3px);
}

.social-link i{
    color: white;
    font-size: 2rem;
}

.copryight{
    color: #94a3b8;
    font-size: 0.9;
}

/* design responsivo */
@media(max-width: 968px){
    main{
        grid-template-columns: 1fr;
    }

    .profile-header{
        flex-direction: column;
        text-align: center;
    }

    .contact-info{
        justify-content: center;
    }
}

@media (max-width:768px){
    .container{
        padding: 1rem;
    }

    .profile-info h1{
        font-size: 2rem;
    }

    .item-header{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media(max-width: 480px){
    .profile-imagem{
        width: 120px;
        height: 120px;
    }

    .contact-info{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .social-links{
        gap: 1rem;
    }

    .social-link{
        width: 45px;
        height: 45px;
    }
}

@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translateY(30px);

    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}

.card, section{
    animation: fadeInUp 0.6s ease;
}

.card:nth-child(2) {
    animation-delay: 0.1s ;
}
.card:nth-child(3) {
    animation-delay: 0.2s ;
}
section:nth-child(1) {
    animation-delay: 0.1s ;
}
section:nth-child(2) {
    animation-delay: 0.2s ;
}
section:nth-child(3) {
    animation-delay: 0.3s ;
}
